@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --brand-blue: #d3d8de;
    --gray-blue: #e6ecf2;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e6ecf2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slideUp {
    animation: slideIn ease 2s forwards 2.2s;
}

@keyframes slideIn {
    0% {
        transform: translateY(-800%);
    }
    100% {
        transform: translateY(0);
    }
}
